@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #0e1731;
  --color-secondary: #ffffff;

  --bg-primary: #0e1731;
  --bg-secondary: #d0d5e4;
  --bg-tertiary: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-secondary);
}

.btn {
  font-family: "Poppins", sans-serif, serif;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.btn-white {
  background-color: var(--bg-tertiary);
  border: 2px solid var(--bg-secondary);
}

.btn-dark {
  background-color: var(--bg-primary);
  color: var(--color-secondary);
}

#container {
  font-family: "Poppins", sans-serif, serif;
  background-color: var(--color-secondary);

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: clamp(16px, 5vw, 32px);
    border-bottom: 1px solid var(--bg-secondary);
    gap: 2rem;

    &:has(.dropDown.active) {
      hr,
      .box-nav:last-of-type {
        filter: blur(5px);
        opacity: 0.4;
        pointer-events: none; /*bloqueia clicks*/
        user-select: none; /*bloqueia seleção de text*/
        transition: all 0.3s ease;
      }
    }

    .box-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .srcBtn {
        border: 1px solid var(--bg-secondary);
        border-radius: 50%;
        font-size: 1.2rem;
        padding: 16px;
        align-self: center;
        cursor: pointer;
        background-color: transparent;
      }

      .nav-login {
        display: flex;
        gap: 16px;
      }

      .nav-links {
        display: flex;
        font-weight: 500;
        width: 600px;

        li {
          width: 100%;
          list-style-type: none;
          position: relative;

          a {
            display: block;
            text-decoration: none;
            line-height: 2.5rem;
            color: var(--color-primary);
          }

          .dropDown {
            display: none;
            flex-direction: column;
            width: 200px;
            border: 1px solid var(--bg-secondary);
            background-color: var(--bg-tertiary);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            padding: 12px 8px;
            border-radius: 12px;
            margin-top: 8px;
            position: absolute;
            left: 0;
            font-size: 0.9rem;
            z-index: 100;
          }

          .active {
            display: flex;
          }
        }
      } /*navigation*/
    } /*nav*/

    hr {
      width: 100%;
      border: 1px solid var(--bg-secondary);
    }
  } /*header*/

  #main-content {
    display: grid;
    grid-template-columns: minmax(600px, 1fr) minmax(300px, 400px);
    grid-template-rows: auto auto;
    grid-template-areas: "main aside";
    padding: clamp(16px, 5vw, 32px);
    max-width: 1200px;
    margin: 0 auto;
    gap: 32px;

    @media (max-width: 1023px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      grid-template-areas:
        "main"
        "aside";
    }

    h1,
    h2,
    p,
    span {
      color: var(--color-primary);
    }

    main {
      grid-area: main;
      article {
        h1 {
          letter-spacing: 2px;
          font-size: 2.5rem;
        }

        .main-img {
          width: 100%;
          object-fit: contain;
          margin-top: 2rem;
          border-radius: 16px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        section {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin: 2rem 0;

          h2 {
            font-size: 1.8rem;
          }

          .box-author {
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 5rem;

            img {
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
        }
      }
    }
    aside {
      grid-area: aside;

      article {
        display: flex;
        gap: 16px;
        margin: 2rem 0;
        position: relative;
        padding: 10px;
        border-radius: 12px;
        transition: 0.3s;

        &:hover {
          background-color: #f4f4f4;
          transform: translateY(-2px);
          transition: 0.3s;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        a.main-link::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
        }

        a {
          color: var(--color-primary);
          text-decoration: none;
        }

        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 16px;
        }
      }
    } /*aside*/
  } /*main-content*/
} /*container*/

/* MEDIA QUERIES */

